body {
    background: white;
    font-family: Helvetica-light, Arial, sans-serif;
    font-size: 15px;
}
#form {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: gray;
    width: 40%;
}
.error {
    color: darkred;
}
input, select, button {
    font-size: 20px;
    width: 80%;
    padding: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border-style: none;
}
button {
    border-style: none;
    background: dodgerblue;
    color: white;
    font-size: 30px;
}
button:hover {
    background: royalblue;
}